%% -*- mode: erlang; erlang-indent-level: 2 -*-
{deps,
 [{cowboy,
  "1.1.2"}]}.

{relx, [{release, {relxsystool, {semver,""}},
         [relxsystool]},
        {dev_mode, false},
        {include_erts, true},
        {sys_config, "rel/sys.config"},
        {vm_args, "rel/vm.args"},
        {extended_start_script, true}]}.
